body {
    background-color: #000000;
    text-align: center;
}

h1, h3, a {
    color: #ffffff;
    font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;
    margin: 0.5em;
}

#pageTitle {
    margin-bottom: 3em;
}
